body {
  width: 100%;
  background-color: rgb(252, 247, 197);
}

.title {
  padding-top: 8%;
  padding-left: 30%;
  font-size: 4em;
}

.hourBox {
  padding-left: 40%;
}

.hourBox-title {
  font-size: 3em;
}

.hourBox-alarmText {
  font-size: 1.5em;
}

.hourBox-button {
  font-size: 14px;
  color: #fff;
  text-shadow: 0 -1 0 rgba(0,0,0,0.25);
  background-color: #5bb75b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
}

.hourBox-alarmTime {
  line-height: 22px;
  min-width: 167px;
}

.alarmBox {
  font-size: 1.5em;
  padding-top: 3%;
  padding-left: 31%;
}

